In [19]:
rows = int(input('Rows: '))
cols = int(input('Columns: '))
arr = [[i for i in range(cols)] for j in range(rows)]

print(arr)

for row in arr:
    print(row)

Rows: 8
Columns: 9
[[0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8]]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
print('Count rows with zeros: ')
print(len([i for i in arr if 0 in i]))

Count rows with zeros:
8

In [21]:
n = int(input('Maximum search row: '))
while n > len(arr):
    print(f'array length {len(arr)}')
    n = int(input('Maximum search row: '))
print(f'Max in {n} row: {max(arr[n])}')

Maximum search row: 5
Max in 5 row: 8

In [45]:
# Данные взяты из открытых источноков ФНС https://www.nalog.gov.ru/opendata/

from zipfile import ZipFile

with ZipFile('C:/Users/ayrat/Downloads/data-20210801-structure-20180801.zip', 'r') as zipObj:
    zipObj.extractall('C:/Users/ayrat/Downloads/FNS_xml')

In [ ]:
import os
import xml.etree.ElementTree as Xet

def parse_dii():
    path = 'C:/Users/ayrat/Downloads/FNS_xml/'
    fileList = os.listdir(path)
    for t in fileList:
        with open('C:/Users/ayrat/Downloads/FNS_xml/' + t, 'r', encoding='utf-8') as ft:
            base = os.path.splitext(t)[0]
            with open(('C:/Users/ayrat/Downloads/FNS_csv/' + base + '.csv'), 'w+', encoding='utf-8') as f:
                xmlparse = Xet.parse('C:/Users/ayrat/Downloads/FNS_xml/' + t)
                root = xmlparse.getroot()
                for i in root:
                    for i2 in i.findall('СведНП'):
                        f.writelines(i2.attrib['НаимОрг'])
                        f.write(',')
                        f.writelines(i2.attrib['ИННЮЛ'])
                        f.write(',')
      
                        for i2 in i.findall('СведДохРасх'): 
                           f.writelines(i2.attrib['СумДоход'])
                           f.write(',')
                           f.writelines(i2.attrib['СумРасход'])
                           f.write('\n')

if __name__ == '__main__':
    parse_dii()

In [215]:
import os
import glob

os.chdir("C:/Users/ayrat/Downloads/FNS_csv/")
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
total_csv = '\n'.join([open(f, 'r', encoding='utf-8').read().strip() for f in all_filenames])
with open("total_csv.csv", 'w', encoding='utf-8') as f:
    f.write(total_csv)

In [216]:
import pandas as pd

FNS = pd.read_csv('C:/Users/ayrat/Downloads/FNS_csv/total_csv.csv', sep=",", encoding='utf-8', names=['НаимОрг',  'ИННЮЛ',  'СумДоход',  'СумРасход'],  header=None)

FNS

,НаимОрг,ИННЮЛ,СумДоход,СумРасход
0,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АПТЕ...",4345324300,2297000.00,18554000.00
1,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АРТИ...",7814466474,1860000.00,1692000.00
2,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ДОСТ...",3662135502,6269000.00,3938000.00
3,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ТОЧК...",3665069417,5467000.00,7136000.00
4,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ХЛЕБ...",7717598362,27450000.00,22941000.00
...,...,...,...,...
365045,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ХХI ...",5405344802,13881000.00,11003000.00
365046,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""СПОР...",7705753260,4214000.00,3647000.00
365047,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ВЕНД""",7713510230,800000.00,747000.00
365048,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""МАЛЕ...",7708505763,0.00,900000.00
365049,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЯРОС...",7627021980,284000.00,305000.00

In [217]:
FNS.iloc[:,1:4] = FNS.iloc[:,1:4].apply(pd.to_numeric, errors='coerce')

FNS

,НаимОрг,ИННЮЛ,СумДоход,СумРасход
0,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АПТЕ...",4.34532e+09,2.297e+06,1.8554e+07
1,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АРТИ...",7.81447e+09,1.86e+06,1.692e+06
2,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ДОСТ...",3.66214e+09,6.269e+06,3.938e+06
3,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ТОЧК...",3.66507e+09,5.467e+06,7.136e+06
4,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ХЛЕБ...",7.7176e+09,2.745e+07,2.2941e+07
...,...,...,...,...
365045,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ХХI ...",5.40534e+09,1.3881e+07,1.1003e+07
365046,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""СПОР...",7.70575e+09,4.214e+06,3.647e+06
365047,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ВЕНД""",7.71351e+09,800000,747000
365048,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""МАЛЕ...",7.70851e+09,0,900000
365049,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЯРОС...",7.62702e+09,284000,305000

In [218]:
FNS['Прибыль'] = FNS['СумДоход'] - FNS['СумРасход']

FNS

,НаимОрг,ИННЮЛ,СумДоход,СумРасход,Прибыль
0,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АПТЕ...",4.34532e+09,2.297e+06,1.8554e+07,-1.6257e+07
1,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АРТИ...",7.81447e+09,1.86e+06,1.692e+06,168000
2,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ДОСТ...",3.66214e+09,6.269e+06,3.938e+06,2.331e+06
3,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ТОЧК...",3.66507e+09,5.467e+06,7.136e+06,-1.669e+06
4,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ХЛЕБ...",7.7176e+09,2.745e+07,2.2941e+07,4.509e+06
...,...,...,...,...,...
365045,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ХХI ...",5.40534e+09,1.3881e+07,1.1003e+07,2.878e+06
365046,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""СПОР...",7.70575e+09,4.214e+06,3.647e+06,567000
365047,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ВЕНД""",7.71351e+09,800000,747000,53000
365048,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""МАЛЕ...",7.70851e+09,0,900000,-900000
365049,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЯРОС...",7.62702e+09,284000,305000,-21000

In [221]:
from zipfile import ZipFile

with ZipFile('C:/Users/ayrat/Downloads/data-20210801-structure-20191201.zip', 'r') as zipObj:
    zipObj.extractall('C:/Users/ayrat/Downloads/OOO_xml')

In [224]:
import os
import xml.etree.ElementTree as Xet

def parse_dii():
    path = 'C:/Users/ayrat/Downloads/OOO_xml/'
    fileList = os.listdir(path)
    for t in fileList:
        with open('C:/Users/ayrat/Downloads/OOO_xml/' + t, 'r', encoding='utf-8') as ft:
            base = os.path.splitext(t)[0]
            with open(('C:/Users/ayrat/Downloads/OOO_csv/' + base + '.csv'), 'w+', encoding='utf-8') as f:
                xmlparse = Xet.parse('C:/Users/ayrat/Downloads/OOO_xml/' + t)
                root = xmlparse.getroot()
                for i in root:
                    for i2 in i.findall('СведНП'):
                        f.writelines(i2.attrib['НаимОрг'])
                        f.write(',')
                        f.writelines(i2.attrib['ИННЮЛ'])
                        f.write(',')
      
                        for i2 in i.findall('СведНаруш'): 
                           f.writelines(i2.attrib['СумШтраф'])
                           f.write('\n')

if __name__ == '__main__':
    parse_dii()

In [225]:
import os
import glob

os.chdir("C:/Users/ayrat/Downloads/OOO_csv/")
extension = 'csv'
all_file = [i for i in glob.glob('*.{}'.format(extension))]
total_ooo_csv = '\n'.join([open(f, 'r', encoding='utf-8').read().strip() for f in all_file])
with open("total_ooo_csv.csv", 'w', encoding='utf-8') as f:
    f.write(total_ooo_csv)

In [243]:
OOO = pd.read_csv('C:/Users/ayrat/Downloads/OOO_csv/total_ooo_csv.csv', sep=",", encoding='utf-8', names=['НаимОрг',  'ИННЮЛ',  'СумШтраф'],  header=None)

OOO

,НаимОрг,ИННЮЛ,СумШтраф
0,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""КАПО...",5837051031,500.00
1,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ШТОР...",3325007269,500.00
2,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""УПРА...",5837051105,8528.15
3,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЭВРИКА""",1832101820,280.00
4,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АРМА...",5246042218,1200.00
...,...,...,...
162759,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЛОМО...",4720026546,9971.40
162760,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""БПФ""",7104039485,2000.00
162761,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ВЭСТА""",6452060567,250.00
162762,ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ФИРМА...,7107028308,2000.00
162763,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""САНА...",6234041966,159419.04

In [244]:
OOO.iloc[:,1:4] = OOO.iloc[:,1:4].apply(pd.to_numeric, errors='coerce')

OOO

,НаимОрг,ИННЮЛ,СумШтраф
0,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""КАПО...",5.83705e+09,500
1,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ШТОР...",3.32501e+09,500
2,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""УПРА...",5.83705e+09,8528.15
3,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЭВРИКА""",1.8321e+09,280
4,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АРМА...",5.24604e+09,1200
...,...,...,...
162759,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЛОМО...",4.72003e+09,9971.4
162760,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""БПФ""",7.10404e+09,2000
162761,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ВЭСТА""",6.45206e+09,250
162762,ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ФИРМА...,7.10703e+09,2000
162763,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""САНА...",6.23404e+09,159419

In [245]:
OOO = OOO.iloc[:,1:4]

OOO

              ИННЮЛ СумШтраф
0       5.83705e+09      500
1       3.32501e+09      500
2       5.83705e+09  8528.15
3        1.8321e+09      280
4       5.24604e+09     1200
...             ...      ...
162759  4.72003e+09   9971.4
162760  7.10404e+09     2000
162761  6.45206e+09      250
162762  7.10703e+09     2000
162763  6.23404e+09   159419

[162764 rows x 2 columns]

In [335]:
OOO_1 = OOO.merge(FNS, left_on='ИННЮЛ', right_on='ИННЮЛ', how='outer')

OOO_1

,ИННЮЛ,СумШтраф,НаимОрг,СумДоход,СумРасход,Прибыль
0,5.837051e+09,500,NaN,NaN,NaN,NaN
1,3.325007e+09,500,NaN,NaN,NaN,NaN
2,5.837051e+09,8528.15,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""УПРА...",46000,456000,-410000
3,1.832102e+09,280,NaN,NaN,NaN,NaN
4,5.246042e+09,1200,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АРМА...",2.4345e+07,2.3972e+07,373000
...,...,...,...,...,...,...
576650,5.405345e+09,NaN,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ХХI ...",1.3881e+07,1.1003e+07,2.878e+06
576651,7.705753e+09,NaN,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""СПОР...",4.214e+06,3.647e+06,567000
576652,7.713510e+09,NaN,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ВЕНД""",800000,747000,53000
576653,7.708506e+09,NaN,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""МАЛЕ...",0,900000,-900000
576654,7.627022e+09,NaN,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЯРОС...",284000,305000,-21000

In [363]:
OOO_1['Прибыль-Штраф'] = OOO_1['Прибыль'] - OOO_1['СумШтраф'] 

OOO_1 = OOO_1.dropna()

OOO_1

,ИННЮЛ,СумШтраф,НаимОрг,СумДоход,СумРасход,Прибыль,Прибыль-Штраф
2,5.837051e+09,8528.15,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""УПРА...",46000,456000,-410000,-418528
4,5.246042e+09,1200,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АРМА...",2.4345e+07,2.3972e+07,373000,371800
38,7.451327e+09,500,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""МЕБЕ...",0,26000,-26000,-26500
41,7.451326e+09,3262.49,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""КОМП...",0,0,0,-3262.49
45,5.038073e+09,259569,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ДАВИ...",5.858e+06,5.559e+06,299000,39431.3
...,...,...,...,...,...,...,...
224598,3.906211e+09,1000,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЗЛАТ...",7.43e+06,6.824e+06,606000,605000
224599,5.406436e+09,500,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ТРОЙКА""",0,0,0,-500
224613,6.450920e+09,500,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЖИЯННИ""",0,0,0,-500
224614,6.673218e+09,353,ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ПРОИЗ...,100000,44000,56000,55647
224615,6.658361e+09,1000,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""МИР ...",0,0,0,-1000

In [364]:
# Компании имеющие не нулевую прибыль безопасны
OOO_safe = OOO_1[OOO_1['Прибыль-Штраф'] > 0]

OOO_safe

,ИННЮЛ,СумШтраф,НаимОрг,СумДоход,СумРасход,Прибыль,Прибыль-Штраф
4,5.246042e+09,1200,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АРМА...",2.4345e+07,2.3972e+07,373000,371800
45,5.038073e+09,259569,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ДАВИ...",5.858e+06,5.559e+06,299000,39431.3
87,5.603034e+09,586.5,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""БУЗУ...",1.7194e+07,1.7165e+07,29000,28413.5
183,7.714101e+09,23988.7,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ОХРА...",1.5942e+07,1.4453e+07,1.489e+06,1.46501e+06
186,7.735079e+09,3000,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ТЕЛЕ...",460000,377000,83000,80000
...,...,...,...,...,...,...,...
224411,9.718104e+09,2097,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""МЭРИОН""",1.8154e+07,1.7913e+07,241000,238903
224553,9.102026e+09,513.1,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЗЕМЛ...",8.635e+07,7.2965e+07,1.3385e+07,1.33845e+07
224561,2.208030e+09,2322,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""СТРО...",1.9494e+07,1.7047e+07,2.447e+06,2.44468e+06
224598,3.906211e+09,1000,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЗЛАТ...",7.43e+06,6.824e+06,606000,605000
224614,6.673218e+09,353,ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ПРОИЗ...,100000,44000,56000,55647

In [365]:
# Компании имеющие нулевой или отрицательный баланс неблагонадежны
OOO_negative = OOO_1[OOO_1['Прибыль-Штраф'] <= 0]

OOO_negative

,ИННЮЛ,СумШтраф,НаимОрг,СумДоход,СумРасход,Прибыль,Прибыль-Штраф
2,5.837051e+09,8528.15,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""УПРА...",46000,456000,-410000,-418528
38,7.451327e+09,500,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""МЕБЕ...",0,26000,-26000,-26500
41,7.451326e+09,3262.49,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""КОМП...",0,0,0,-3262.49
85,7.417000e+09,1189.2,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""КАЛН...",0,0,0,-1189.2
89,3.436015e+09,99406.2,"ЗАКРЫТОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО ""КАМЫШИНСКИЙ ЛИТ...",0,770000,-770000,-869406
...,...,...,...,...,...,...,...
224594,3.907206e+09,500,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ТЕНТ...",0,0,0,-500
224597,3.907206e+09,1000,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ПРОФ...",0,0,0,-1000
224599,5.406436e+09,500,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ТРОЙКА""",0,0,0,-500
224613,6.450920e+09,500,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЖИЯННИ""",0,0,0,-500
224615,6.658361e+09,1000,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""МИР ...",0,0,0,-1000

In [383]:
OOO_negative.to_csv('OOO_negative_csv.csv', sep=';')

In [374]:
x = int(input('ИНН: '))

OOO_2 = OOO_1[OOO_1['ИННЮЛ'] == x].at[2, 'Прибыль-Штраф']

if OOO_2 > 0:
    print('благонадежна')
else:
    print('неблагонадежна')

ИНН: 5837051105
неблагонадежна